body {
    background: linear-gradient(to right, #c1adc4, #c093db);
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 50px;
}

h1 {
    color:rgb(206, 31, 54);
    text-shadow: 1px 1px 2px #7c7b7b;
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 1200;

}

#lampada {
    width: 120px;
    height: 170px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s, background-color 0.3s;
}

#ligar {
    background-color: green;
}

#ligar:hover {
    background-color:darkgreen;
    transform: scale(1.05);
}

#desligar {
    background-color:crimson;
}

#desligar:hover {
    background-color: darkred;
    transform: scale(1.05);
}

